:root {
  --blue: rbg (blue);
}

body {
  margin: 0;
  font-family: 'Arial','Helvetica','sans-serif';
}

.card{
  margin: 200px 15%;
  width: 70%;
  height: 300px;
  border: 1px solid blue;
  display: grid;
  line-height: 0.7;
  border-radius: 30px;
  box-shadow: 12px 12px 24px #2a93b6,
              -12px 12px 24px #4affff;
}

.image{
  float: left;
  width: 25%;
  display: 5px;
}

.ratings button{
    padding: 0px;
    height: 25px;
    border: 0px;
    cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
